# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Tool related configurations
.ackrc
.envrc

### Package builds (e.g. snap of fluxctl)
fluxctl_*_*.snap
fluxctl_*_*.snap.xdelta3
parts
prime
stage


# Specific to this project
vendor/*
!vendor/manifest
build/
/cache/*
testdata/helloworld/helloworld-linux-amd64
testdata/helloworld/.helloworld
testdata/sidecar/sidecar-linux-amd64
testdata/sidecar/.sidecar
docker/fluxy-dumbconf.priv
test/profiles
test/bin/
test/e2e/bats

# Docs
docs/_build
