---
apiVersion: v1
kind: Service
metadata:
  name: memcached{{ if .Namespace }}
  namespace: {{ .Namespace }}{{ end }}
spec:
  ports:
    - name: memcached
      port: 11211
  selector:
    name: memcached
