{% extends "base.html" %}

{% block announce %}

<p>
    You are looking at the documentation of Flux v1, which is
    <a href="https://github.com/fluxcd/flux/issues/3320">in maintenance mode</a>.
</p>

<p>
    The Flux community is working with most of its energy on
    <a href="https://toolkit.fluxcd.io">Flux v2</a> these days which is a more modern
    approach to GitOps, implements some long-requested features of v1 and is generally
    more flexible. It will be GA soon.
</p>

<p>
    We strongly recommend you familiarise yourself with Flux v2 and start looking at
    <a href="https://github.com/fluxcd/flux2/discussions/413">your migration path</a>.
</p>

{% endblock %}