{{ if .ConfigFileContent -}}
---
# The following is used to provide a configuration for fluxd.
# If .ConfigAsConfigMap is set to true, the configuration is created
# as a ConfigMap, otherwise it is created as a Secret.
apiVersion: v1
{{ if .ConfigAsConfigMap -}}
kind: ConfigMap
{{- else -}}
kind: Secret
type: Opaque
{{- end }}
metadata:
  name: flux-config
  {{ if .Namespace -}}
  namespace: {{ .Namespace }}
  {{- end }}
data:
  {{- if .ConfigAsConfigMap }}
  flux-config.yaml: | {{- printf "\n%s" (.ConfigFileContent | indent 4) }}
  {{- else }}
  flux-config.yaml: "{{ .ConfigFileContent | base64enc }}"
  {{- end }}
{{- end }}
