{{ if .ConfigFileContent -}}
---
# The following is used to provide a configuration for fluxd.
# If .ConfigAsConfigMap is set to true, the configuration is created
# as a ConfigMap, otherwise it is created as a Secret.
apiVersion: v1
{{ if .ConfigAsConfigMap -}}
kind: ConfigMap
{{- else -}}
kind: Secret
type: Opaque
{{- end }}
metadata:
  name: flux-config
  {{ if .Namespace -}}
  namespace: {{ .Namespace }}
  {{- end }}
data:
{{ printf "%s" .ConfigFileContent | indent 2 }}
{{- end }}
