{{ if and .ConfigFileContent (not .ConfigAsConfigMap) }}
# The following Secret is used to provide a configuration for fluxd.
# The Secret is created if the --config-file command line
# option is provided. If --config-as-configmap is set to true, the
# configuration is created as a ConfigMap, otherwise it is created as
# a Secret.
---
apiVersion: v1
kind: Secret
metadata:
  name: flux-config{{ if .Namespace }}
  namespace: {{ .Namespace }}{{ end }}
type: Opaque
data: 
{{- printf "%s" .ConfigFileContent | nindent 2 }}
{{ end }}