{{ if and .OpenShiftTarget .OpenShiftAddMemcachedSCC}}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    name: memcached
  name: memcached{{ if .Namespace }}
  namespace: {{ .Namespace }}{{ end}}
---
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: memcached-restricted
allowHostDirVolumePlugin: false
allowHostIPC: false
allowHostNetwork: false
allowHostPID: false
allowHostPorts: false
allowPrivilegeEscalation: false
allowPrivilegedContainer: false
fsGroup:
  type: MustRunAs
groups:
- system:authenticated
readOnlyRootFilesystem: true
requiredDropCapabilities:
- KILL
- MKNOD
- SETUID
- SETGID
runAsUser:
  type: MustRunAsRange
seLinuxContext:
  type: MustRunAs
supplementalGroups:
  type: RunAsAny
users:
    - memcached
volumes:
- configMap
- downwardAPI
- emptyDir
- persistentVolumeClaim
- projected
- secret
{{ end }}
