apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: flux
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: flux
    spec:
      containers:
      - name: fluxd
        image: quay.io/weaveworks/fluxd:master-952c028
        args:
        - --fluxsvc-address=ws://localhost:3030/api/flux
      - name: fluxsvc
        image: quay.io/weaveworks/fluxsvc:master-952c028
        args:
        - --database-source=file://flux.db
        - --memcached-hostname=memcached.default.svc.cluster.local
        - --memcached-timeout=100ms
        - --memcached-service=memcached
        - --registry-cache-expiry=20m
