name: Build snap

on:
  push:
    branches:
      - disabled

jobs:
  build-snap:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Install Snapcraft
        uses: samuelmeuli/action-snapcraft@v1
        with:
          snapcraft_token: ${{ secrets.snapcraft_token }}
          use_lxd: true

      - name: Run Snapcraft build
        run: sg lxd -c 'snapcraft --use-lxd'

      - name: Upload to Snapcraft store (edge channel for revs in master)
        if: ${{ ! startsWith(github.event.ref, 'refs/tags') }}
        run: snapcraft push --release edge fluxctl_*.snap

      - name: Upload to Snapcraft store (stable channel for tagged releases)
        if: ${{ startsWith(github.event.ref, 'refs/tags') }}
        run: snapcraft push --release stable fluxctl_*.snap
